**IMPORTING LIBRARIES**

In [32]:
import numpy as np
import pandas as pd

**CALCULATE TOTAL RETURN**

In [33]:
datafile = pd.read_csv("Exercise Data.csv")
bidReturn = np.array(datafile['Net amount recd by Bid winner'])
monthlyReturn = np.array(datafile['Amount returned to everyone in the group'])
for i in monthlyReturn:
  bidReturn += i
totalReturn = bidReturn

In [34]:
def PercentageReturn(totalReturn):
  temp = totalReturn * (100 / 50000)
  return temp

In [35]:
def AnnualReturn(totaReturn):
  temp = totalReturn * (12/25)
  return temp

In [36]:
def show_data(size):
  print(datafile.head(size))

In [37]:
datafile['Total Return'] = totalReturn
datafile['Annualized Return'] = AnnualReturn(totalReturn)
datafile['Return %'] = PercentageReturn(totalReturn)
print('Annualized  Return of the person who bids in the last month is:',list(datafile['Annualized Return'])[-1])
print('Annualized Return of the person who bids in the first month is:',list(datafile['Annualized Return'])[0])
print()
show_data(25)
datafile.to_csv('output.csv')

Annualized  Return of the person who bids in the last month is: 25776.0
Annualized Return of the person who bids in the first month is: 20976.0

    Month  Contribution  ...  Annualized Return  Return %
0       1          2000  ...            20976.0      87.4
1       2          2000  ...            21936.0      91.4
2       3          2000  ...            23376.0      97.4
3       4          2000  ...            24816.0     103.4
4       5          2000  ...            20976.0      87.4
5       6          2000  ...            21936.0      91.4
6       7          2000  ...            22416.0      93.4
7       8          2000  ...            22896.0      95.4
8       9          2000  ...            20976.0      87.4
9      10          2000  ...            21936.0      91.4
10     11          2000  ...            23376.0      97.4
11     12          2000  ...            24816.0     103.4
12     13          2000  ...            20976.0      87.4
13     14          2000  ...            21936.0      91.4
14     15          2000  ...            22416.0      93.4
15     16          2000  ...            22416.0      93.4
16     17          2000  ...            21456.0      89.4
17     18          2000  ...            21936.0      91.4
18     19          2000  ...            23376.0      97.4
19     20          2000  ...            23376.0      97.4
20     21          2000  ...            22896.0      95.4
21     22          2000  ...            23856.0      99.4
22     23          2000  ...            24336.0     101.4
23     24          2000  ...            24816.0     103.4
24     25          2000  ...            25776.0     107.4

[25 rows x 9 columns]